In [186]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
os.chdir('/home/fractaluser/Downloads/prototype')

In [187]:
sample_data = pd.read_csv('sample_simulated_transaction_history.csv').iloc[:704778,:]

In [188]:
pd.set_option('display.max_columns', None)

In [189]:
sample_data.head()

,id,date,purchaseamount,dept,category,chain,purchasequantity,company,brand,productsize,productmeasure
0,Donor_1,2015-03-04,203.174075,Sports,Sports,site_1,1,Company1,Brand3,x,xx
1,Donor_1,2016-04-17,300.639489,Sports,Sports,site_1,1,Company1,Brand1,x,xx
2,Donor_1,2015-04-06,374.096413,Women Apparel,Dresses/Jumpsuits,site_1,1,Company2,Brand1,x,xx
3,Donor_1,2015-09-04,348.347601,Women Apparel,Dresses/Jumpsuits,site_1,1,Company2,Brand3,x,xx
4,Donor_1,2016-03-08,287.477333,Women Apparel,Dresses/Jumpsuits,site_1,1,Company1,Brand3,x,xx

In [190]:
sample_data = sample_data.drop(labels = ['productsize', 'productmeasure'], axis = 1)

In [191]:
sample_data.brand.value_counts()

Brand2    235230
Brand3    235083
Brand1    234465
Name: brand, dtype: int64

In [192]:
sample_data = sample_data.drop(labels = ['chain', 'purchasequantity'], axis = 1)

In [193]:
sample_data.head()

,id,date,purchaseamount,dept,category,company,brand
0,Donor_1,2015-03-04,203.174075,Sports,Sports,Company1,Brand3
1,Donor_1,2016-04-17,300.639489,Sports,Sports,Company1,Brand1
2,Donor_1,2015-04-06,374.096413,Women Apparel,Dresses/Jumpsuits,Company2,Brand1
3,Donor_1,2015-09-04,348.347601,Women Apparel,Dresses/Jumpsuits,Company2,Brand3
4,Donor_1,2016-03-08,287.477333,Women Apparel,Dresses/Jumpsuits,Company1,Brand3

In [194]:
sample_data.date = pd.to_datetime(sample_data.date)
sample_data = sample_data.join(pd.get_dummies(sample_data.category))
sample_data = sample_data.join(pd.get_dummies(sample_data.company))
sample_data = sample_data.join(pd.get_dummies(sample_data.brand))
sample_data = sample_data.drop(labels = ['category', 'company', 'brand'], axis = 1)

In [195]:
sample_data.head()

,id,date,purchaseamount,dept,Blazers,Dresses/Jumpsuits,Leggings,Shirts,Shoes/Sneakers,Shorts,Sports,Sweatshirts,Tees & Graphics,Tees & Polos,Tees & Tops,Toys,Company1,Company2,Brand1,Brand2,Brand3
0,Donor_1,2015-03-04,203.174075,Sports,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1
1,Donor_1,2016-04-17,300.639489,Sports,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0
2,Donor_1,2015-04-06,374.096413,Women Apparel,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0
3,Donor_1,2015-09-04,348.347601,Women Apparel,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1
4,Donor_1,2016-03-08,287.477333,Women Apparel,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1

In [196]:
def name_trunc(x):
    x = "_".join(x.split("_", 2)[:2])
    return x

In [197]:
sample_data.id = sample_data.id.map(lambda x:name_trunc(x))

In [198]:
df_sports = sample_data[(sample_data.dept == 'Sports')].reset_index(drop = True).drop(labels = ['dept'], axis = 1).iloc[:,:3]
df_women = sample_data[(sample_data.dept == 'Women Apparel')].reset_index(drop = True).drop(labels = ['dept'], axis = 1).iloc[:,:3]
df_kidsapp = sample_data[(sample_data.dept == 'Kids Apparel')].reset_index(drop = True).drop(labels = ['dept'], axis = 1).iloc[:,:3]
df_kidsfoot = sample_data[(sample_data.dept == 'Kids Footwear')].reset_index(drop = True).drop(labels = ['dept'], axis = 1).iloc[:,:3]
df_toys = sample_data[(sample_data.dept == 'Toys')].reset_index(drop = True).drop(labels = ['dept'], axis = 1).iloc[:,:3]
df_men = sample_data[(sample_data.dept == 'Men Apparel')].reset_index(drop = True).drop(labels = ['dept'], axis = 1).iloc[:,:3]

In [199]:
sample_data.isnull().values.any()

False

In [200]:
trial = df_sports[(df_sports.id == 'Donor_1')].reset_index(drop = True)

In [201]:
trial = trial.groupby(['date']).max()

In [202]:
trial.head()

                 id  purchaseamount
date
2015-01-02  Donor_1      458.746067
2015-01-03  Donor_1      298.217698
2015-01-05  Donor_1      422.174432
2015-01-07  Donor_1      144.846242
2015-01-08  Donor_1      468.082197

In [203]:
trial = trial.drop(labels = ['id'], axis = 1)
trial = trial.reindex(pd.date_range(sample_data.date.min(), sample_data.date.max()), fill_value = 0)

In [204]:
trial.head()

            purchaseamount
2015-01-01        0.000000
2015-01-02      458.746067
2015-01-03      298.217698
2015-01-04        0.000000
2015-01-05      422.174432

In [205]:
complete_data_sport = pd.DataFrame({'date':pd.date_range(sample_data.date.min(), sample_data.date.max())})

In [206]:
complete_data_sport.set_index('date', inplace = True)

In [207]:
for i in df_sports.id.unique():
    specific_donor = df_sports[(df_sports.id == i)].reset_index(drop = True).groupby(['date']).max().drop(labels = ['id'], axis = 1).reindex(pd.date_range(sample_data.date.min(), sample_data.date.max()), fill_value = 0)
    complete_data_sport[i] = pd.DataFrame({i:specific_donor.purchaseamount})

In [211]:
complete_data_sport = complete_data_sport.values

In [236]:
from keras.layers import Input, Dense
from keras.models import Model

encoding_dim = 500  
input_mat = Input(shape=(complete_data_sport.shape[1],))
encoded = Dense(encoding_dim, activation='linear')(input_mat)
decoded = Dense(complete_data_sport.shape[1], activation='linear')(encoded)

autoencoder = Model(input_mat, decoded)
encoder = Model(input_mat, encoded)

encoded_input = Input(shape=(encoding_dim,))
decoder_layer = autoencoder.layers[-1]
decoder = Model(encoded_input, decoder_layer(encoded_input))

autoencoder.compile(optimizer='adam', loss='mean_squared_error')

autoencoder.fit(complete_data_sport, complete_data_sport,
                epochs=100,
                batch_size=50,
                shuffle=True)

encoded_mat = encoder.predict(complete_data_sport)
decoded_mat = decoder.predict(encoded_mat)

Epoch 1/100
730/730 [==============================] - 1s 1ms/step - loss: 782.7174
Epoch 2/100
730/730 [==============================] - 0s 647us/step - loss: 419.8028
Epoch 3/100
730/730 [==============================] - 0s 648us/step - loss: 318.4942
Epoch 4/100
730/730 [==============================] - 0s 651us/step - loss: 253.3004
Epoch 5/100
730/730 [==============================] - 1s 778us/step - loss: 208.5757
Epoch 6/100
730/730 [==============================] - 0s 647us/step - loss: 177.4551
Epoch 7/100
730/730 [==============================] - 0s 637us/step - loss: 155.9020
Epoch 8/100
730/730 [==============================] - 0s 651us/step - loss: 139.0797
Epoch 9/100
730/730 [==============================] - 0s 654us/step - loss: 125.0124
Epoch 10/100
730/730 [==============================] - 0s 650us/step - loss: 113.2135
Epoch 11/100
730/730 [==============================] - 0s 640us/step - loss: 102.8392
Epoch 12/100
730/730 [==============================] - 0s 651us/step - loss: 94.0481
Epoch 13/100
730/730 [==============================] - 0s 651us/step - loss: 86.2404
Epoch 14/100
730/730 [==============================] - 1s 842us/step - loss: 79.4660
Epoch 15/100
730/730 [==============================] - 0s 647us/step - loss: 73.4381
Epoch 16/100
730/730 [==============================] - 0s 657us/step - loss: 68.0737
Epoch 17/100
730/730 [==============================] - 0s 665us/step - loss: 63.3909
Epoch 18/100
730/730 [==============================] - 0s 657us/step - loss: 59.2087
Epoch 19/100
730/730 [==============================] - 0s 659us/step - loss: 55.4852
Epoch 20/100
730/730 [==============================] - 0s 657us/step - loss: 52.1120
Epoch 21/100
730/730 [==============================] - 0s 660us/step - loss: 49.1704
Epoch 22/100
730/730 [==============================] - 0s 656us/step - loss: 46.4141
Epoch 23/100
730/730 [==============================] - 0s 668us/step - loss: 43.8662
Epoch 24/100
730/730 [==============================] - 0s 664us/step - loss: 41.8154
Epoch 25/100
730/730 [==============================] - 0s 661us/step - loss: 39.7463
Epoch 26/100
730/730 [==============================] - 0s 658us/step - loss: 37.9462
Epoch 27/100
730/730 [==============================] - 0s 666us/step - loss: 36.2635
Epoch 28/100
730/730 [==============================] - 0s 669us/step - loss: 34.6797
Epoch 29/100
730/730 [==============================] - 0s 662us/step - loss: 33.3076
Epoch 30/100
730/730 [==============================] - 0s 660us/step - loss: 31.9749
Epoch 31/100
730/730 [==============================] - 0s 669us/step - loss: 30.7916
Epoch 32/100
730/730 [==============================] - 0s 672us/step - loss: 29.6646
Epoch 33/100
730/730 [==============================] - 0s 671us/step - loss: 28.6606
Epoch 34/100
730/730 [==============================] - 0s 670us/step - loss: 27.5866
Epoch 35/100
730/730 [==============================] - 0s 671us/step - loss: 26.6382
Epoch 36/100
730/730 [==============================] - 0s 674us/step - loss: 25.8677
Epoch 37/100
730/730 [==============================] - 0s 672us/step - loss: 25.1066
Epoch 38/100
730/730 [==============================] - 0s 678us/step - loss: 24.3071
Epoch 39/100
730/730 [==============================] - 0s 669us/step - loss: 23.6425
Epoch 40/100
730/730 [==============================] - 0s 660us/step - loss: 23.1340
Epoch 41/100
730/730 [==============================] - 0s 674us/step - loss: 22.4171
Epoch 42/100
730/730 [==============================] - 0s 662us/step - loss: 22.0324
Epoch 43/100
730/730 [==============================] - 1s 831us/step - loss: 21.3965
Epoch 44/100
730/730 [==============================] - 0s 676us/step - loss: 20.9130
Epoch 45/100
730/730 [==============================] - 0s 670us/step - loss: 20.3910
Epoch 46/100
730/730 [==============================] - 0s 674us/step - loss: 19.8710
Epoch 47/100
730/730 [==============================] - 1s 687us/step - loss: 19.4467
Epoch 48/100
730/730 [==============================] - 0s 675us/step - loss: 19.0861
Epoch 49/100
730/730 [==============================] - 0s 680us/step - loss: 18.6519
Epoch 50/100
730/730 [==============================] - 0s 682us/step - loss: 18.2476
Epoch 51/100
730/730 [==============================] - 0s 680us/step - loss: 18.0497
Epoch 52/100
730/730 [==============================] - 0s 670us/step - loss: 17.7784
Epoch 53/100
730/730 [==============================] - 1s 709us/step - loss: 17.6049
Epoch 54/100
730/730 [==============================] - 1s 687us/step - loss: 17.2746
Epoch 55/100
730/730 [==============================] - 1s 691us/step - loss: 17.0522
Epoch 56/100
730/730 [==============================] - 1s 687us/step - loss: 16.6862
Epoch 57/100
730/730 [==============================] - 1s 693us/step - loss: 16.3541
Epoch 58/100
730/730 [==============================] - 0s 685us/step - loss: 16.0881
Epoch 59/100
730/730 [==============================] - 1s 700us/step - loss: 15.8693
Epoch 60/100
730/730 [==============================] - 1s 687us/step - loss: 15.5521
Epoch 61/100
730/730 [==============================] - 1s 700us/step - loss: 15.3849
Epoch 62/100
730/730 [==============================] - 1s 694us/step - loss: 15.2194
Epoch 63/100
730/730 [==============================] - 1s 701us/step - loss: 14.8800
Epoch 64/100
730/730 [==============================] - 1s 689us/step - loss: 14.8246
Epoch 65/100
730/730 [==============================] - 1s 711us/step - loss: 14.5012
Epoch 66/100
730/730 [==============================] - 1s 705us/step - loss: 14.3531
Epoch 67/100
730/730 [==============================] - 1s 706us/step - loss: 14.2380
Epoch 68/100
730/730 [==============================] - 1s 689us/step - loss: 13.8787
Epoch 69/100
730/730 [==============================] - 1s 699us/step - loss: 13.6945
Epoch 70/100
730/730 [==============================] - 0s 684us/step - loss: 13.7378
Epoch 71/100
730/730 [==============================] - 1s 701us/step - loss: 13.2754
Epoch 72/100
730/730 [==============================] - 1s 830us/step - loss: 13.2365
Epoch 73/100
730/730 [==============================] - 1s 712us/step - loss: 13.2008
Epoch 74/100
730/730 [==============================] - 1s 705us/step - loss: 12.9600
Epoch 75/100
730/730 [==============================] - 1s 694us/step - loss: 12.8913
Epoch 76/100
730/730 [==============================] - 1s 691us/step - loss: 12.7258
Epoch 77/100
730/730 [==============================] - 1s 695us/step - loss: 12.7470
Epoch 78/100
730/730 [==============================] - 1s 705us/step - loss: 12.6656
Epoch 79/100
730/730 [==============================] - 1s 695us/step - loss: 12.7919
Epoch 80/100
730/730 [==============================] - 1s 699us/step - loss: 12.5272
Epoch 81/100
730/730 [==============================] - 1s 704us/step - loss: 12.7537
Epoch 82/100
730/730 [==============================] - 1s 699us/step - loss: 12.5838
Epoch 83/100
730/730 [==============================] - 1s 697us/step - loss: 12.1286
Epoch 84/100
730/730 [==============================] - 1s 704us/step - loss: 12.2479
Epoch 85/100
730/730 [==============================] - 1s 713us/step - loss: 12.2948
Epoch 86/100
730/730 [==============================] - 1s 708us/step - loss: 12.0300
Epoch 87/100
730/730 [==============================] - 1s 706us/step - loss: 12.0702
Epoch 88/100
730/730 [==============================] - 1s 704us/step - loss: 11.7954
Epoch 89/100
730/730 [==============================] - 1s 700us/step - loss: 11.7941
Epoch 90/100
730/730 [==============================] - 1s 703us/step - loss: 11.5642
Epoch 91/100
730/730 [==============================] - 1s 704us/step - loss: 11.3723
Epoch 92/100
730/730 [==============================] - 1s 707us/step - loss: 11.2537
Epoch 93/100
730/730 [==============================] - 1s 711us/step - loss: 11.2057
Epoch 94/100
730/730 [==============================] - 1s 724us/step - loss: 10.9472
Epoch 95/100
730/730 [==============================] - 1s 712us/step - loss: 10.8840
Epoch 96/100

730/730 [==============================] - 0s 656us/step - loss: 10.8377
Epoch 97/100
730/730 [==============================] - 0s 628us/step - loss: 10.6197
Epoch 98/100
730/730 [==============================] - 0s 639us/step - loss: 10.6256
Epoch 99/100
730/730 [==============================] - 0s 639us/step - loss: 10.4746
Epoch 100/100
730/730 [==============================] - 1s 741us/step - loss: 10.3776